<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BikeShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BikeShareMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BikeShareMacWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BikeShareMessages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BikeShareTV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BikeShareTopShelf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BikeShareWatch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BikeShareWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BikeShareWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD164C191E2B1A7A0062CBA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD164C421E2C385D0062CBA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD164C7E1E33C3540062CBA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8C1B581E218056000F9A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEF3CFD1E1737110002063F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF347531E2A8BE800241A8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDF6E7931E0DBC3000C3C6CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDFBD7061E3849A000C751D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
